body {
  background-image: linear-gradient(
    to bottom left,
    rgb(255, 255, 255) 25%,
    rgb(0, 102, 255)
  );
}
.update-link,
.delete-link {
  border-radius: 10rem;
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  background-color: #4c676e;
  color: #fff;
}
#create-link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  width: 15rem;
  text-decoration: none;
  background-color: #28b485;
  color: #fff;
  transition: all 0.2s;
}

#create-link:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(color-black, 0.2);
}
#post-table {
  width: 100%;
}

.update-link:hover {
  background-color: #ffb900;
  color: white;
  transition: all 0.2s;
}
.delete-link:hover {
  background-color: #ff3f34;
  color: white;
  transition: all 0.2s;
}
