body {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255) 25%,
    rgb(254, 112, 209)
  );
}

#create-post {
  width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
}
#create {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  margin-top: 1rem;
  cursor: pointer;
}
