* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%; /*1rem=10px*/
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #42484d;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.4rem;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255)25%, rgb(254, 112, 209));
  }
  
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  #create-link {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }
  #post-table {
    width: 100%;
  }
  tr,
  th,
  td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 1rem;
  }
  #post-table {
    border: 1px solid #000;
    border-collapse: collapse;
  }
  a {
    text-decoration: none;
  }
  
  /*############################CREATE POST CSS STYLE#########################*/
  #create-post {
    width: 80%;
    padding: 1rem;
  }
  #create {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin-top: 1rem;
    cursor: pointer;
    color: rgb(16, 0, 0);
    background: rgb(249, 189, 38);
    /* background: rgb(178, 122, 255); */

    
  }
  input,
  textarea {
    width: 70%;
    margin-top: 10px;
  }
  
  #tags {
    width: 70%;
    padding: 1rem 0;
    /* text-align: center; */
  }
  
  /* FOOTER STYLE */
  
  #footer {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: #fff;
    font-size: 1.2rem;
    margin: 83rem 0 0 0;
    background-color: #333;
    padding: 10rem;
  }
  
  #footer-list {
    display: flex;
  }
  #footer-list li {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid grey;
  }
  
  #rights {
    padding-top: 1rem;
  }
  #made-by {
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid grey;
  }
  
  li {
    list-style: none;
  }
  